.addPost {
  padding: 50px 0;
  direction: rtl;
}
.addPost h1 {
  margin: 0 50px 50px 0;
}
.cat {
  margin: 10px 0;
}
.tags {
  margin: 10px;
  width: 30vw !important;
}
.postImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postImage label {
  margin-right: -60%;
  padding: 10px;
}
.addPost .postImg {
  width: 30vw;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}
.addForm {
  position: relative;
  height: 100vh;
}
.selectCat {
  /* margin-right: 150px; */
  padding: 10px;
}
.addForm label {
  margin-left: 50px;
}
.addFormGroup {
  width: 70vw;
  padding: 20px 0 0 20px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  min-height: auto;
}
.rdw-editor-wrapper {
  height: 30vh;
}
.rdw-editor-main {
  border: 2px solid #f1f1f1;
  background-color: #fff;
  padding: 10px;
  height: 50vh !important;
}
.addImg {
  display: flex;
}
.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.fr-box.fr-basic {
  width: 70vw;
}
.fr-view {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #444444;
}

input[type="text"] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 70vw;
  border-radius: 10px;
  border: 1px solid #cccccc;
  padding: 5px;
  /* margin-bottom: 10px; */
}

input[type="text"]:focus {
  outline: none !important;
}
input[type="file"] {
  display: none;
}
.submitButton {
  position: absolute;
  bottom: 650px;
  left: 50px;
  width: 20%;
  color: #fff;
  background-color: teal;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.addtag {
  color: #fff;
  background-color: teal;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  cursor: pointer;
  width: 30vw;
}

.tag {
  display: flex;
  flex-direction: row;
}
.tag input {
  width: 30vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .submitButton {
    bottom: 800px;
  }
  .addFormGroup {
    margin-right: 80px;
  }
  .cat label {
    font-size: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .submitButton {
    bottom: 800px;
  }
  .addFormGroup {
    margin-right: 80px;
  }
  .cat label {
    font-size: 12px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .submitButton {
    bottom: 800px;
  }
  .addFormGroup {
    margin-right: 80px;
  }
  .cat label {
    font-size: 16px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .addFormGroup {
    margin-right: 150px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
