.article {
  display: flex;
  direction: rtl;
}
.singlePost {
  flex: 9;
}

.singlePostWrapper {
  padding: 20px;
  text-align: center;
}

.singlePostImg {
  width: 100px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}
.SinglePostTitle {
  text-align: center;
  margin: 15px;
  font-size: 28px;
  font-style: italic;
}

.singlePostEdit {
  float: left;
  font-size: 16px;
}
.singlePostIcon {
  margin-right: 10px;
  cursor: pointer;
}
.singlePostIcon:first-child {
  cursor: pointer;
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  font-size: 16px;
  color: #b39656;
}

.singlePosDescription {
  color: #666;
  line-height: 25px;
  font-size: 18px;
  text-align: justify;
}

.singlePosDescription::first-letter {
  margin-right: 20px;
}
.postTags {
  display: flex;
  flex-direction: row;
}
.postTagItem {
  padding: 5px 10px;
  background-color: rgb(230, 228, 228);
  border-radius: 5px;
  margin-left: 5px;
  color: #666;
}

.aboutAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(211, 209, 209);
}
.aboutAuthor p {
  text-align: justify;
  font-size: 12px;
  margin-right: 10px;
}
.authorImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
