.home {
  display: flex;
  flex-direction: row;
  direction: rtl;
}
.header {
  margin-top: 60px;
}
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
  font-family: "Almarai", sans-serif;
}
.titleSm {
  position: absolute;
  top: 18%;
  font-size: 20px;
}
.titleLg {
  text-align: center;
  position: absolute;
  top: 22%;
  font-size: 80px;
  text-shadow: 0 0 #fff;
}
.headerImg {
  width: 100%;
  height: calc(100vh - 214px);
  margin-top: 80px;
  object-fit: cover;
}

.main {
  display: flex;
}
.posts {
  flex-grow: 9;
}
.sidebar {
  flex: 3;
  height: fit-content;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebarTitle {
  margin: 10px;
  margin: 10px;
  width: 250px;
  border-top: 1px solid #a7a7a4;
  border-bottom: 1px solid #a7a7a4;
  font-family: "Almarai", sans-serif;
  font-family: "El Messiri", sans-serif;
  font-size: 16px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.sidebarItem > img {
  margin-top: 15px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.sidebarItem > p {
  padding: 30px;
}

.sidebarList {
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-bottom: 30px;
}
.sidebarListItem {
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 5px;
  /* width: 250px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .titleLg {
    top: 25%;
    font-size: 30px;
  }
  .titleSm {
    top: 20%;
    font-size: 10px;
  }
  .headerImg {
    margin-top: 50px;
    height: calc(100vh - 185px);
  }
  .home {
    flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .headerImg {
    margin-top: 50px;
    height: calc(100vh - 183px);
  }
  .home {
    flex-direction: column;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .headerImg {
    margin-top: 50px;
    height: calc(100vh - 183px);
  }
  .home {
    flex-direction: column;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .headerImg {
    margin-top: 50px;
    height: calc(100vh - 144px);
  }
  .home {
    flex-direction: row;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .headerImg {
    margin-top: 80px;
    height: calc(100vh - 183px);
  }
}

@media only screen and (min-width: 2560px) {
  .headerImg {
    margin-top: 80px;
    height: calc(100vh - 200px);
  }
  .titleLg {
    top: 15%;
    font-size: 80px;
  }
  .titleSm {
    top: 10%;
    font-size: 40px;
  }
}

@media only screen and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .titleLg {
    top: 15%;
  }
  .titleSm {
    top: 10%;
  }
}
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .titleLg {
    top: 30%;
    font-size: 25px;
  }
  .titleSm {
    top: 20%;
    font-size: 15px;
  }
}
