.home {
  display: flex;
  direction: rtl;
}
.header {
  margin-top: 60px;
}
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
  font-family: "Almarai", sans-serif;
}
.titleSm {
  position: absolute;
  top: 18%;
  font-size: 20px;
}
.titleSm {
  position: absolute;
  top: 27%;
  font-size: 80px;
}
.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 80px;
  object-fit: cover;
}

.main {
  display: flex;
}
.posts {
  flex-grow: 9;
}
.sidebar {
  flex: 3;
  height: fit-content;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebarTitle {
  margin: 10px;
  margin: 10px;
  width: 250px;
  border-top: 1px solid #a7a7a4;
  border-bottom: 1px solid #a7a7a4;
  font-family: "Almarai", sans-serif;
  font-family: "El Messiri", sans-serif;
  font-size: 16px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.sidebarItem > img {
  margin-top: 15px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.sidebarItem > p {
  padding: 30px;
}

.sidebarList {
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-bottom: 30px;
}
.sidebarListItem {
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 5px;
  /* width: 250px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
