.signin {
  padding-top: 50px;
  direction: rtl;
  text-align: -webkit-center;
}
.signinForm {
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #666;
  border-radius: 10px;
}

#username,
#password {
  width: 30vw;
}

input[type="password"]:focus {
  outline: none !important;
}

input[type="password"] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 30vw;
  border-radius: 10px;
  border: 1px solid #cccccc;
  padding: 5px;
  margin-bottom: 10px;
}

.signinButton {
  width: 30%;
  color: #fff;
  background-color: teal;
  border: none;
  border-radius: 10px;
  padding: 5px 10px 10px 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .signinForm {
    width: 70%;
  }
  .signinForm input,
  textarea,
  button {
    width: 70% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 2560px) {
  /* .App {
    height: 100%;
  }
  .signin {
    height: 100%;
  }*/
  .signinForm {
    width: 400px;
    position: absolute;
    top: 50%;
    right: 45%;
  }
  .signinForm input,
  textarea,
  button {
    width: 70% !important;
  }
}
