.not-found {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found-titles {
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-bottom: 20px;
  text-align: center;
}
.not-found-titleLg {
  font-weight: 600;
}
.not-found-titles span {
  padding: 10px;
}
.not-found button {
  width: 100% !important;
  color: #fff;
  background-color: teal;
  border: none;
  border-radius: 10px;
  padding: 5px 10px 10px 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .not-found button {
    font-size: 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 2560px) {
  .not-found-titleLg {
    font-size: 40px;
  }
  .not-found-titleSm {
    font-size: 50px;
  }
  .not-found {
    height: 70vh;
    justify-content: center;
  }
  .not-found button {
    font-size: 40px;
    padding: 20px;
  }
}
