.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  direction: rtl;
}
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-icon {
  display: none !important;
}
a {
  text-decoration: none;
}
ul {
  display: inline-flex;
  list-style: none;
  padding-inline-end: 40px;
  align-items: center;
  margin: 0;
}
li {
  padding: 5px;
  margin: 5px;
}
.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.avatar {
  border-radius: 50px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 2px solid rgb(180, 180, 180);
  background-color: #efefef;
  background-size: cover;
}

.links .btn {
  padding: 5px 10px 10px 10px;
  border-radius: 5px;
  border: 1px solid #2b133b2b;
  cursor: pointer;
}

.btnAdd {
  padding: 5px 10px 10px 10px;
  border-radius: 5px;
  background-color: teal;
  color: #fff;
  font-size: 16px;
}
.btnAdd a:visited {
  color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar li:not(:first-child) {
    display: none;
  }
  .menu-icon {
    display: block !important;
  }
  .links li:not(:first-child) {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .links .btnAdd {
    font-size: 12px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .links .btnAdd {
    font-size: 16px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
